<mat-toolbar class='app-footer'>
    <div class="footer-viewport" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between start" fxLayoutAlign.lt-md="center center">
        <div class="contact-details" fxFlex="0 0 33%" fxFlexOrder.lt-md="3" ngStyle.lt-md="text-align: center">
            <p>Liquidity4Life Limited</p>
            <p> 27 Old Gloucester Street, <p>
            <p> London, </p>
            <p> WC1N 3AX</p>
            <p> Telephone: +44 (0)1234 567890</p>
            <p> Email:info@liquidity4life.com</p>    
        </div>
        <div class="footer-menu" fxFlex="0 0 33%" fxFlexOrder.lt-md="1">
            <a href='#'>Terms of service</a> - <a href='#'>Security Policy</a> - <a href='#'>Terms & Conditions</a>
            <br>
            <span>Copyright © 2022 Liquidity4Life Limited. All rights reserved.</span>
        </div>
        
        <div class="social" fxFlex="0 0 33%" fxFlexOrder.lt-md="2"  ngStyle.lt-md="text-align: center">
            <ul>
                <li>
                <a href="#">
                    <i class="fa fa-facebook"></i>
                </a>
                </li>
        
                <li class="centerIcon">
                <a href="#">
                    <i class="fa fa-instagram"></i>
                </a>
                </li>
        
                <li>
                <a href="#">
                    <i class="fa fa-linkedin"></i>
                </a>
                </li>
            </ul>
            
            <a routerLink="/property-portfolio">Admin Login</a>
            </div>
        
    </div>

</mat-toolbar>