.inputs-container mat-card{
    margin-bottom: 24px;
}

.inputs-container mat-icon{
    color: rgba(0,0,0,.54);
    position: relative;
    top: 20px;
}

.inputs-container .mat-form-field{
    width: 100%;
}