<div class="viewport" fxLayout="column">
    <h2 class="top-gap">Expression of Interest Application</h2>
    <div class="intro-text">
        <p>In order to find out more about a Liquidity4Life Home Drawdown Plan, you will need to take advice from a
            Financial
            Adviser. Please complete the form below and click Submit and your Financial Adviser will be in contact
            shortly.</p>
        <p>If you don't have a Financial Adviser, leave that section blank, click Submit and we will be in touch to
            introduce
            you to a qualified, local adviser.</p>
    </div>

    <div class="inputs-container">
        <mat-card>
            <h3> Applicant Details</h3>
            <div class="basic-input" id="applicant-full-name" fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field color="primary">
                    <input matInput placeholder="Full Name">
                </mat-form-field>
                <a href=''>
                    <mat-icon> help_outline </mat-icon>
                </a>
            </div>
            <div class="basic-input" id="applicant-telephone-number" fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field color="primary">
                    <input matInput placeholder="Telephone Number">
                </mat-form-field>
                <a href=''>
                    <mat-icon> help_outline </mat-icon>
                </a>
            </div>
            <div class="basic-input" id="applicant-email-address" fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field color="primary">
                    <input matInput placeholder="Email Address">
                </mat-form-field>
                <a href=''>
                    <mat-icon> help_outline </mat-icon>
                </a>
            </div>
            <div class="basic-input" id="applicant-address-line-1" fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field color="primary">
                    <input matInput placeholder="Address Line 1">
                </mat-form-field>
                <a href=''>
                    <mat-icon> help_outline </mat-icon>
                </a>
            </div>
            <div class="basic-input" id="applicant-address-line-2" fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field color="primary">
                    <input matInput placeholder="Address Line 2">
                </mat-form-field>
                <a href=''>
                    <mat-icon> help_outline </mat-icon>
                </a>
            </div>
            <div class="basic-input" id="applicant-post-code" fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field color="primary">
                    <input matInput placeholder="Post Code">
                </mat-form-field>
                <a href=''>
                    <mat-icon> help_outline </mat-icon>
                </a>
            </div>
        </mat-card>
        <mat-card>
            <h3> Adviser Details</h3>
            <div class="basic-input" id="adviser-full-name" fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field color="primary">
                    <input matInput placeholder="Full Name">
                </mat-form-field>
                <a href=''>
                    <mat-icon> help_outline </mat-icon>
                </a>
            </div>
            <div class="basic-input" id="adviser-company-name" fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field color="primary">
                    <input matInput placeholder="Company Name">
                </mat-form-field>
                <a href=''>
                    <mat-icon> help_outline </mat-icon>
                </a>
            </div>
            <div class="basic-input" id="adviser-telephone-number" fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field color="primary">
                    <input matInput placeholder="Telephone Number">
                </mat-form-field>
                <a href=''>
                    <mat-icon> help_outline </mat-icon>
                </a>
            </div>
            <div class="basic-input" id="adviser-email-address" fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field color="primary">
                    <input matInput placeholder="Email Address">
                </mat-form-field>
                <a href=''>
                    <mat-icon> help_outline </mat-icon>
                </a>
            </div>
            <div class="basic-input" id="adviser-address-line-1" fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field color="primary">
                    <input matInput placeholder="Address Line 1">
                </mat-form-field>
                <a href=''>
                    <mat-icon> help_outline </mat-icon>
                </a>
            </div>
            <div class="basic-input" id="adviser-address-line-2" fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field color="primary">
                    <input matInput placeholder="Address Line 2">
                </mat-form-field>
                <a href=''>
                    <mat-icon> help_outline </mat-icon>
                </a>
            </div>
            <div class="basic-input" id="adviser-post-code" fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field color="primary">
                    <input matInput placeholder="Post Code">
                </mat-form-field>
                <a href=''>
                    <mat-icon> help_outline </mat-icon>
                </a>
            </div>
        </mat-card>
    </div>

    <div class='button-section bottom-gap' fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="flex-end">
        <button mat-raised-button class="l4l-button right-side-gap" routerLink="/next-steps" fxFlexOrder.lt-sm="2">
            Back
        </button>
        <button mat-raised-button class="l4l-button" routerLink="/" fxFlexOrder.lt-sm="1">
            Submit
        </button>
    </div>
</div>