<h2>Adviser Details</h2>

<div class="results-container" fxLayout="row" fxLayout.lt-sm="column">
    <table fxFlex="1 1 50%">
        <tr>
            <td class='label'>
                Full Name:
            </td>
            <td class="bold value">
                {{adviserData.fullName}}
            </td>
        </tr>
        <tr>
            <td class='label'>
                Office Number:
            </td>
            <td class="bold value">
                {{adviserData.officeNumber}}
            </td>
        </tr>
        <tr>
            <td class='label'>
                Mobile Number:
            </td>
            <td class="bold value">
                {{adviserData.mobileNumber}}
            </td>
        </tr>
        <tr>
            <td class='label'>
                Email Address:
            </td>
            <td class="bold value">
                {{adviserData.emailAddress}}
            </td>
        </tr>
    </table>
    <table fxFlex="1 1 50%">
        <tr>
            <td class='label'>
                Adviser CPD Products:
            </td>
            <td class="bold value">
                {{adviserData.adviserCPDProducts}}
            </td>
        </tr>
        <tr>
            <td class='label'>
                Adviser CPD Date:
            </td>
            <td class="bold value">
                {{adviserData.adviserCPDDate}}
            </td>
        </tr>
        <tr>
            <td class='label'>
                Next Customer Meeting:
            </td>
            <td class="bold value">
                {{adviserData.nextCustomerMeeting}}
            </td>
        </tr>
        <tr>
            <td class='label'>
                Adviser Notice Date:
            </td>
            <td class="bold value">
                {{adviserData.adviserNoticeDate}}
            </td>
        </tr>
    </table>
</div>