.rag-container{
    margin: 24px 0 48px 0;
}

.rag{
    background-color: #00F210;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.rag-message{
    font-weight: bold;
    padding-left: 12px;
}

.tab-content{
    padding: 24px 0 24px 0;
}