table{
    width:100%;
}

.mat-column-yr1,
.mat-column-yr5,
.mat-column-yr10,
.mat-column-yr15,
.mat-column-yr16,
.mat-column-yr17,
.mat-column-yr18,
.mat-column-yr19,
.mat-column-yr20{
    text-align: right;
} 

.mat-row{
    height: 30px;
}

td.mat-cell{
    padding: 5px;
}

.bold{
    font-weight: bold;
}


