.results-container{
    color: rgba(0,0,0,.90);
    margin: 24px 0 24px 0;
}

.table-1-container,
.table-2-container {
    width:50%;
}

.results-container td{
    width: 50%;
}

.button-wrapper{
    width: 413px;
    a, span{
        margin-top: 12px;
    }
}



@media only screen and (max-width: 599px) {
    .table-1-container,
    .table-2-container {
        width:100%;
    }
}

.results-container table{
    width:100%;
}

td {
    width:20%;
    padding: 0 24px 12px 0;
    // border: solid 1px black;
}