<div class="hero-image"></div>

<div class="home-viewport" fxLayout="column">
    
    <div class="cta-section mat-elevation-z4" ngStyle.lt-md="text-align:center; margin: 0 auto;">
        <h1>TURN YOUR HOME INTO A REGULAR INCOME</h1>
        <h4>Complete your personal profile questionnaire and evaluate your options today.</h4>
        <button mat-button id='get-started' routerLink="/basic-details">
          GET STARTED
          <mat-icon>arrow_forward</mat-icon>
        </button>
    </div>

    <div class="intro-text" ngStyle.lt-md="text-align:center">
        <span>Liquidity4Life is delivering the technology for a new digital
             portal and a range of innovative Home Drawdown products designed
              to give you flexible access to the value in your home. See how to 
              unlock the value of your home. Walk through an example of one of our
               home drawdown products.</span>

    </div>

    <div class="features-container" >
        <mat-card>
                
            <img src="../../assets/images/laptop-typing.jpg"/>
            
            <div class="padding">
            
                <mat-card-title>
                    YOUR LIQUIDITY4LIFE PORTFOLIO
                </mat-card-title>

                <mat-card-content>
                    Your latest valuations, fee statements, rental agreements and more.
                </mat-card-content>
    
                <mat-card-actions>
                    <button mat-button>
                        MORE
                        <mat-icon>chevron_right</mat-icon>
                    </button>
                    <button mat-button>
                        LOG IN
                        <mat-icon>chevron_right</mat-icon>
                    </button>
                </mat-card-actions>

            </div>

        </mat-card>   
        
        <mat-card>
                
                <img src="../../assets/images/bills.jpg"/>
                
                <div class="padding">
                
                    <mat-card-title>
                        REDUCING YOUR BILLS
                    </mat-card-title>
    
                    <mat-card-content>
                            Save money on a wide range of services such as utilities, motor insurance, health plans and more.
                    </mat-card-content>
        
                    <mat-card-actions>
                        <button mat-button>
                            MORE
                        <mat-icon>chevron_right</mat-icon>
                        </button>
                        
                    </mat-card-actions>
    
                </div>
    
            </mat-card>

            <mat-card>
                
                    <img src="../../assets/images/telephone.jpg"/>
                    
                    <div class="padding">
                    
                        <mat-card-title>
                                KEEP IN TOUCH
                        </mat-card-title>
        
                        <mat-card-content>
                                All of our recent communications in one place for your convenience.
                        </mat-card-content>
            
                        <mat-card-actions>
                            <button mat-button>
                                MORE
                            <mat-icon>chevron_right</mat-icon>
                            </button>
                            
                        </mat-card-actions>
        
                    </div>
        
                </mat-card>

                <mat-card>
                
                    <img src="../../assets/images/little-house.jpg"/>
                    
                    <div class="padding">
                    
                        <mat-card-title>
                            THE LIQUIDITY4LIFE PROPERTIES
                        </mat-card-title>
        
                        <mat-card-content>
                            View the details of all the properties in our portfolios.
                        </mat-card-content>
            
                        <mat-card-actions>
                            <button mat-button>
                                MORE
                            <mat-icon>chevron_right</mat-icon>
                            </button>
                            
                        </mat-card-actions>
        
                    </div>
        
                </mat-card>

                    <mat-card>
                
                            <img src="../../assets/images/laptop-graph.jpg"/>
                            
                            <div class="padding">
                            
                                <mat-card-title>
                                    DIGITAL SAVINGS AND INVESTMENTS
                                </mat-card-title>
                
                                <mat-card-content>
                                    Short term equity plans through to great cash accounts.
                                </mat-card-content>
                    
                                <mat-card-actions>
                                    <button mat-button>
                                        MORE
                                    <mat-icon>chevron_right</mat-icon>
                                    </button>
                                    
                                </mat-card-actions>
                
                            </div>
                
                        </mat-card>

                        <mat-card>
                
                                <img src="../../assets/images/plane-window.jpg"/>
                                
                                <div class="padding">
                                
                                    <mat-card-title>
                                        TRAVEL AND LIFESTYLE
                                    </mat-card-title>
                    
                                    <mat-card-content>
                                        Let us help with holidays, car leasing, home help and more.
                                    </mat-card-content>
                        
                                    <mat-card-actions>
                                        <button mat-button>
                                            MORE
                                        <mat-icon>chevron_right</mat-icon>
                                        </button>
                                        
                                    </mat-card-actions>
                    
                                </div>
                    
                            </mat-card>

    

    </div>

</div>
  




