<h2>Key Metrics</h2>

<div class="results-container" fxLayout="row" fxLayout.lt-sm="column" >
    <table fxFlex="1 1 50%">
        <tr>
            <td class='label'>
                Property Value:
            </td>
            <td class="bold value">
                {{keyMetricsData.propertyValue}}
            </td>
        </tr>
        <tr>
            <td class='label'>
                Portfolio Value:
            </td>
            <td class="bold value">
                {{keyMetricsData.portfolioValue}}
            </td>
        </tr>
        <tr>
            <td class='label'>
                Risk Profile:
            </td>
            <td class="bold value">
                {{keyMetricsData.riskProfile}}
            </td>
        </tr>
        <tr>
            <td class='label'>
                Lifestyle Options:
            </td>
            <td class="bold value">
                {{keyMetricsData.lifestyleOptions}}
            </td>
        </tr>
        <tr>
            <td class='label'>
                Utility Options:
            </td>
            <td class="bold value">
                {{keyMetricsData.utilityOptions}}
            </td>
        </tr>
        <tr>
            <td class='label'>
                Property Costs:
            </td>
            <td class="bold value">
                {{keyMetricsData.propertyCosts}}
            </td>
        </tr>
        <tr>
            <td class='label'>
                Occupancy:
            </td>
            <td class="bold value">
                {{keyMetricsData.occupancy}}
            </td>
        </tr>
        <tr>
            <td class='label'>
                Client DoB:
            </td>
            <td class="bold value">
                {{keyMetricsData.clientDob}}
            </td>
        </tr>
    </table>
    <table fxFlex="1 1 50%">
            <tr>
                <td class='label'>
                    Start Date:
                </td>
                <td class="bold value">
                    {{keyMetricsData.startDate}}
                </td>
            </tr>
            <tr>
                <td class='label'>
                    Projected Term:
                </td>
                <td class="bold value">
                    {{keyMetricsData.projectedTerm}}
                </td>
            </tr>
            <tr>
                <td class='label'>
                    Projected End Date:
                </td>
                <td class="bold value">
                    {{keyMetricsData.projectedEndDate}}
                </td>
            </tr>
            <tr>
                <td class='label'>
                    Cost Review Term:
                </td>
                <td class="bold value">
                    {{keyMetricsData.costReviewTerm}}
                </td>
            </tr>
            <tr>
                <td class='label'>
                    Cost Review Date:
                </td>
                <td class="bold value">
                    {{keyMetricsData.costReviewDate}}
                </td>
            </tr>
            <tr>
                <td class='label'>
                    Occupancy 12 Month Adivsery:
                </td>
                <td class="bold value">
                    {{keyMetricsData.occupancy12MonthAdvisery}}
                </td>
            </tr>
            <tr>
                <td class='label'>
                    Local Authority Notice Period:
                </td>
                <td class="bold value">
                    {{keyMetricsData.localAuthorityNoticePeriod}}
                </td>
            </tr>
            <tr>
                <td class='label'>
                    Client Age:
                </td>
                <td class="bold value">
                    {{keyMetricsData.clientAge}}
                </td>
            </tr>
        </table>
</div>